@charset "utf-8";
/* reset */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p ,a,address,em,img,strong,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,footer,header,nav,section{margin: 0;padding: 0;border: 0;}
main{display: block;}
ol,ul{list-style: none;}
table{border-collapse: collapse;border-spacing: 0;}
a{display: block;color: #333;text-decoration: none;}
img{display: block;}
/* common */
button{cursor: pointer;}
li {cursor: pointer;}
.blind{position: absolute;top: 0;left: -9999px;}
body,button,input,select,table,textarea{color: #333;font-size: 14px;font-family: '맑은 고딕', 'Malgun Gothic', sans-serif;}
.inner_ct{margin: 0 auto;}
.ir{background-repeat: no-repeat;text-indent: -9999px;}
.clearfix:after{content: "";display: block;clear: both;}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/* layout */
body{min-width: 1280px;}
.wrap{}
#header{position: relative;z-index: 30;}
.container{position: relative;z-index: 20;}
#footer{position: relative;z-index: 10;}
/* module */

/* popup */
.pop_wrap{margin: 0 auto;width: 800px; height: 400px;background-color: #fff;}

/* header */

#header .inner_ct{position: fixed;top: 0;left: 0;padding: 20px;width: 100%;height: 40px;background-color: rgb(33, 33, 33);}
#header .inner_ct .logo_wrap{float: left;}
#header .inner_ct .logo_wrap img{width: 120px;}
#header .inner_ct .logout_wrap{float: right;margin-right: 40px;}
#header .inner_ct .logout_wrap img{padding-top: 8px;width: 24px;}
#header .nav_wrap{display: flex;position: fixed;top: 80px;left: 0;width: 300px;height: 100%;background-color: rgb(163, 164, 175);}
#header .nav_wrap .nav{padding: 20px 0;width: 100%;}
#header .nav_wrap .nav_list{position: relative;}
#header .nav_wrap .nav_list:after{content:"▼";position: absolute;top: 21px;right: 20px;font-size: 16px;color: #fff;}
#header .nav_wrap .nav_list.open:after{top: 26px;transform: rotate(180deg);}
#header .nav_wrap .nav_list a{padding: 16px 26px;font-size: 20px;color: #fff;font-weight: bold;}
#header .nav_wrap .nav_cnt{display: none;}
#header .nav_wrap .nav_list.on .nav_cnt{display: block;}
#header .nav_wrap .nav_cnt_list a{padding-left: 30px;background-color: rgb(137, 137, 147);font-size: 16px;}
#header .nav_wrap .nav_cnt_list.on a{background-color: rgb(94, 94, 94)}

/* container */
.container{margin-top: 80px;margin-left: 300px;width: calc(100% - 300px);}
.container .inner_ct{padding: 20px;}
.container .main_tit{padding-bottom: 20px;font-size: 32px;}

/* container form */
.container .srch_form{float: left;margin: 10px 0;}
.container .top_wrap .box_select{float: left;}
.container .box_select select{margin-right: 4px;width: 80px;height: 40px;border: 1px solid #aaa;line-height: 40px;}
.container .srch_wrap{float: left;width: 260px;border: 1px solid #aaa;}
.container .srch_wrap .srch_img{float: left;padding: 10px;width: 20px;}
.container .srch_wrap .srch_ipt{float: left;margin-left: 10px;width: calc(100% - 58px);text-align: center;border: 0;line-height: 38px;}

.container .srch_r_wrap{float: right;margin: 10px 0;}
.container .top_wrap .btn_wrap{float: left;}

/* container 공통 버튼 */
.container .btn_wrap{text-align: center;}
.container .btn_com{width: 100px;line-height: 40px;border: 0;transition: 0.25s;}
.container .btn_com:hover{box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.2);transition: 0.25s;}
.container .btn_com:nth-child(2){margin-left: 10px;}
.container .btn_white{color: #171f57;background-color: #dfdfdf;}
.container .btn_blue{color: #f7f7f7;background-color: #171f57;}


/* container 테이블 */
.container .tbl_wrap .tbl{width: 100%;border-top: 1px solid #171f57;border-bottom: 1px solid #555;}
.container .tbl_wrap .tbl tr:not(:last-child){border-bottom: 1px solid #aaa;}
.container .tbl_wrap .tbl th{padding: 10px 0;background-color: rgb(199, 199, 206);}
.container .tbl_wrap .tbl tr td{padding: 20px 0;font-size: 16px;text-align: center;}
.container .tbl_wrap .tbl .squ_tbl{padding: 4px 8px;background-color: #ddd;font-size: 13px;}

/* container 공통 input */
.container .title{float: left;width: 120px;font-size: 16px;line-height: 40px;} 
.container .main_cnt_list{padding-bottom: 20px;}
.container .main_cnt_list .txt_cnt{float: left;padding: 5px;line-height: 30px;}
.container .main_cnt_list .box_input{float: left;}
.container .main_cnt_list .box_input input{padding: 5px;width: 240px;line-height: 30px;border: 1px solid #aaa;}
.container .main_cnt_list .box_select select{padding: 9px 5px;width: 140px;line-height: 30px;border: 1px solid #aaa;}
.container .main_cnt_list .box_radio{line-height: 42px;}
.container .main_cnt_list .box_radio label{padding-right: 18px;}
.container .main_cnt_list .box_chk{line-height: 42px;}
.container .main_cnt_list .box_chk label{padding-right: 18px;}
.container .main_cnt_list .btn_com{width: 140px;line-height: 46px;}

/* container 공통 pager */
.container .pager_wrap{padding: 60px 0;text-align: center;}
.container .pager_wrap .pager_com{display:inline-block;width: 40px;margin: 0 2px;background-color: #f1f1f1;}
.container .pager_wrap .pager_num.on{background-color: #171f57;}
.container .pager_wrap .pager_com a{padding: 10px 0;text-align: center;color: #171f57;}
.container .pager_wrap .pager_num.on a{color: #fff;}
