@charset "UTF-8";
.container .questionContent{width:800px; height:300px; border:solid 1px black;}
.container .answerText{width:800px; height:300px;}
.container .btn_com4{width: 100px;line-height: 40px;border:1px solid black; background-color:white;}
.container .btn_modi{background-color:white; width: 100px;line-height: 40px;}
.container .btn_del{background-color:white; width: 100px;line-height: 40px;}
.container .btn_add{background-color:white; width: 100px;line-height: 40px;}
.container .secondDiv2{position:absolute; width:800px; height:400px; left: 100px; top: 200px;background-color:white;}
.container .answertext{width:700px; height:50px; border:solid 1px black;}
.popupDetail .txt_cnt1{display: inline-block;}
.popupDetail .txt_cnt2{display: inline-block;}
.popupBlackList .box_select{display: inline-block;}
.popupBlackList .box_input{display: inline-block;}
.popupBlackList .box_select2{display: inline-block;}
.popupBlackList .title{display: inline-block;}
.popupBlackList .blackListContent{width:650px; height: 100px; border:1px solid black;}
.container .btnAdd{position:absolute; left:710px; top:30px; width: 100px; line-height: 40px;transition: 0.25s;}
.popupBlackListDetail .txt_cnt{display: inline-block;}
.popupBlackListDetail .txt_cnt2{display: inline-block;}
.popupBlackListDetail .txt_cnt3{display: inline-block;}
.popupBlackListDetail .title{display: inline-block;}
.popupBlackListDetail .detailContent{width:650px; height: 100px; border:1px solid black;}
.container #btn_Search{background-color:white; width:50px; height:43px;}
.container #memberfil{float:right; margin-top:20px;}
.container .guidefil{float:right; margin-top:20px;}
.container .allPfil{float:right; margin-top:20px;}
.contaienr .dele{align:right;}
.container .close{align:left;}




