.container .main_login{height:50%; background-color:rgb(51, 51, 51);}
.container .main_login img {position:relative; left:680px; bottom:-270px;}
.container .main_tex {padding-top:10px;}
.container .main_tex form{width:200px; display:block; margin:auto;}
#log {width:230px;}
#pass{width:230px;}
input[type=submit] {border:none; background-color:white; width:100px; display:block; margin:auto;}
.container.tbl_wrap {display:block; padding-top:10px;}
#search {position:relative; width:150px; height:35px;}
.container .tbl_wrap .tbl tr td {cursor:grab;}
.container .guideDetail {width:700px; height:2000px; border:1px solid black; position:relative; left:240px; bottom:-80px;}
.container .guideDetail2 {width:700px; height:300px;}
.container .guideDetail #info {position:relative; left:25px; top:20px;}
.container .guideDetail #img {position:relative; left:25px; top:70px;}
.container .guideDetail #text2 {width:200px; height:200px; border:1px solid black; position:relative; left:200px; top:50px;}
.container .guideDetail #name {position:relative; left:25px; top:110px;}
.container .guideDetail #name2 {position:relative; left:200px; top:90px;}
.container .guideDetail #phone {position:relative; left:25px; top:140px;}
.container .guideDetail #phone2 {position:relative; left:200px; top:120px;}
.container .guideDetail #phone3 {position:relative; left:25px; top:160px;}
.container .guideDetail #phone4 {position:relative; left:200px; top:139px;}
.container .guideDetail #kaka {position:relative; left:25px; top:180px;}
.container .guideDetail #kaka2 {position:relative; left:200px; top:160px;}
.container .guideDetail #information {position:relative; left:25px; top:200px;}
.container .guideDetail #information2 {position:relative; left:200px; top:180px;}
.container .guideDetail #addr {position:relative; left:25px; top:220px;}
.container .guideDetail #addr2 {position:relative; left:200px; top:200px;}
.container .guideDetail #addr3 {position:relative; left:380px; top:180px;}
.container .guideDetail #addr4 {position:relative; left:200px; top:210px;}
.container .guideDetail #area1 {position:relative; left:25px; top:250px;}
.container .guideDetail #area2 {position:relative; left:200px; top:230px;}
.container .guideDetail #area3 {position:relative; left:290px; top:212px;}
.container .guideDetail #area4 {position:relative; left:380px; top:193px;}
.container .guideDetail #spinner {position:relative; left:200px; top:230px;}
.container .guideDetail #rudgja {position:relative; left:25px; top:280px;}
.container .guideDetail #rudgja2 {position:relative; left:200px; top:260px;}
.container .guideDetail #lang {position:relative; left:25px; top:310px;}
.container .guideDetail #lang2 {position:relative; left:200px; top:290px;}
.container .guideDetail #file {position:relative; left:25px; top:340px;}
.container .guideDetail #file2 {position:relative; left:200px; top:320px; font-weight:bold;}
.container .guideDetail #file3 {position:relative; left:25px; top:370px;}
.container .guideDetail #file4 {position:relative; left:200px; top:350px; font-weight:bold;}
.container .guideDetail #interview1 {position:relative; left:25px; top:400px;}
.container .guideDetail #interview2 {position:relative; left:200px; top:380px;}
.container .guideDetail #interview3 {position:relative; left:375px; top:364px;}
.container .guideDetail #interview4 {position:relative; left:540px;px; top:345px;}
.container .guideDetail #reinter {position:relative; left:25px; top:380px;}
.container .guideDetail #interviewDate {position:relative; left:200px; top:360px;}
.container .guideDetail #retime {position:relative; left:400px; top:335px;}
.container .guideDetail #interviewTime {position:relative; left:500px; top:315px;}
.container .guideDetail #interviewYN {position:relative; left:25px; top:530px;}
.container .guideDetail #YN {position:relative; left:25px; top:550px; width:120px;}
.container .guideDetail #result {position:relative; left:300px; top:485px;}
.container .guideDetail #resultYN {position:relative; left:300px; top:510px;}
.container .but {}
.container .but #commit {width:70px; height:30px; background-color:rgb(255, 255, 255);}
.container .but #reset {width:70px; height:30px; background-color:rgb(255, 255, 255);}
.container .waitDetail #info {position:relative; left:25px; top:20px;}
.container .waitDetail #name {position:relative; left:25px; top:70px;}
.container .waitDetail #name2 {position:relative; left:200px; top:50px;}
.container .waitDetail #g_id {position:relative; left:29px; top:100px;}
.container .waitDetail #g_id2 {position:relative; left:200px; top:80px;}
.container .waitDetail #langu {position:relative; left:25px; top:140px;}
.container .waitDetail #langu2 {position:relative; left:200px; top:120px;}
.container .waitDetail #pro {position:relative; left:25px; top:180px;}
.container .waitDetail #pro2 {position:relative; left:200px; top:160px;}
.container .waitDetail #proInfo {position:relative; left:25px; top:220px;}
.container .waitDetail #proInfo2 {position:relative; left:25px; top:220px; font-size:18px;}
.container .waitDetail #proInfo3 {position:relative; left:25px; top:225px;}
.container .waitDetail #cnt1 {position:relative; left:25px; top:250px;}
.container .waitDetail #cnt2 {position:relative; left:200px; top:230px;}
.container .waitDetail #pro_day1 {position:relative; left:25px; top:280px;}
.container .waitDetail #pro_day2 {position:relative; left:200px; top:260px;}
.container .waitDetail #waitD {position:relative; left:25px; top:310px;}
.container .waitDetail #waitD2 {position:relative; left:200px; top:290px;}
.container .waitDetail #g_pay {position:relative; left:25px; top:340px;}
.container .waitDetail #g_pay2 {position:relative; left:200px; top:320px;}
.container .waitDetail #t_pay {position:relative; left:25px; top:370px;}
.container .waitDetail #t_pay2 {position:relative; left:200px; top:350px;}
.container .waitDetail #lift_pay1 {position:relative; left:25px; top:400px;}
.container .waitDetail #lift_pay2 {position:relative; left:200px; top:380px;}
.container .waitDetail #s_pay {position:relative; left:25px; top:400px;}
.container .waitDetail #s_pay2 {position:relative; left:200px;px; top:375px;}
.container .waitDetail #include_list {position:relative; left:25px; top:430px;}
.container .waitDetail #include_list2 {position:relative; left:25px; top:460px;}
.container .waitDetail #uninclude_list {position:relative; left:470px; top:395px;}
.container .waitDetail #uninclude_list2 {position:relative; left:470px; top:425px;}
.container .waitDetail #g_info {position:relative; left:25px; top:490px;}
.container .waitDetail #g_info2 {position:relative; left:25px; top:510px;}
.container .waitDetail #time {position:relative; left:25px; top:570px;}
.container .waitDetail #time2 {position:relative; left:200px; top:550px;}
.container .waitDetail #con_area1 {position:relative; left:25px; top:600px;}
.container .waitDetail #con_area2 {position:relative; left:200px; top:580px;}
.container .tbl_wrap.wait {position:relative; left:25px; top:300px; width:840px;}
.container .but.submit {position:relative; left:460px; top:1000px;}
.container .waitDetail.Reason{width:1100px; height:1250px; border:1px solid black; position:relative; left:20px; top:20px;}
.container .waitDetail.Reason #rea {position:relative; left:25px; top:20px;}
.container .waitDetail.Reason #name_rea1 {position:relative; left:25px; top:70px; font-size:20px;}
.container .waitDetail.Reason #name_rea2 {position:relative; left:200px; top:42px; font-size:20px;}
.container .waitDetail.Reason #g_name1 {position:relative; left:25px; top:110px; font-size:20px;}
.container .waitDetail.Reason #g_name2 {position:relative; left:200px; top:82px; font-size:20px;}
.container .waitDetail.Reason #reason {position:relative; left:25px; top:140px; font-size:20px;}
.container .waitDetail.Reason #rea_text {position:relative; left:25px; top:170px; width:1000px; height:800px;}
.container .waitDetail.Reason .but.submit2 {position:relative; left:470px; top:220px;}
.container .srch_form #btn_search2 {background-color:white; width:50px; height:43px;}
.container .box_select #sta {display:block;width:110px;}

.container .srch_formWaite #btn_search3 {background-color:white; width:50px; height:43px;}
.container .main_cnt_list.clearfix .box_input {position:relative; top:10px;}
.container .main_cnt_list.clearfix .title.pay{position:relative; left:18px; top:-25px;}
.container .inner_ct .title.cal {width:200px; line-height:40px;}
.container .inner_ct .title.cal2 {width:200px; line-height:50px;}
.container .inner_ct .tbl_wrap.wait.cal{position:relative; left:4px; top:30px; line-height:30px;}
/* .container .main_cnt_list .txt_cnt {position:relative; left:70px; top:-5px;}  */
.container .title.cal2 .title.last2 {width:200px; line-height:70px;}
.container .main_cnt_list2 {color:red;}
.container .inner_ct .cal_detail .cal_pay1 {position:relative; left:8px; top:18px;}
.container .inner_ct .cal_detail .cal_pay2 {position:relative; left:8px; top:75px;}
.container .srch_wrap.order {position:relative; left:90px;}
.container .btn_search3.order{background-color:white; width:50px;height:43px; position:relative; left:100px;}
.container .box_select.order {position:relative; top:41px;}
.container .orderText {position:relative; left:25px; top:350px; width:900px;height:200px;}
.container #order_name {position:relative; left:200px; top:200px;}
.container #order_mail {position:relative; left:200px; top:260px;}
.container #order_cnt {position:relative; left:25px; top:140px;}
.container #order_pro {position:relative; left:25px; top:100px;}
.container #order_phone {position:relative; left:25px; top:390px;}
.container #order_phone2 {position:relative; left:200px; top:370px;}
.container #order_emerPhone {position:relative; left:25px; top:400px;}
.container #order_emerPhone2 {position:relative; left:200px; top:380px;}
.container #order_emerPhone2 {position:relative; left:200px; top:380px;}
.container #order_email {position:relative; left:25px; top:420px;}
.container #order_email2 {position:relative; left:200px; top:400px;}
.container .waitDetail.order{height:1300px;}
.container .but.order {width:200px; position:relative; top:-710px;left:950px;}
.container .inner_ct.cus .cusArea{border:1px solid lightgray; color:red;}

