@charset "utf-8";
/* reset */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p ,a,address,em,img,strong,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,footer,header,nav,section{margin: 0;padding: 0;border: 0;}
main{display: block;}
ol,ul{list-style: none;}
table{border-collapse: collapse;border-spacing: 0;}
a{display: block;color: #333;text-decoration: none;}
img{display: block;}
button{cursor: pointer;}
/* common */
.blind{position: absolute;top: 0;left: -9999px;}
body,button,input,select,table,textarea{color: #333;font-size: 14px;font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', sans-serif;letter-spacing: -1px;}
a:hover{font-style: italic;text-decoration: underline;}
input:focus {outline: none;}
.inner_ct{margin: 0 auto;width: 1080px;}
.ir{background-repeat: no-repeat;text-indent: -9999px;}
.clearfix:after{content: "";display: block;clear: both;}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/* layout */
body{min-width: 1080px;}
.wrap{}
#header{position: relative;z-index: 30;}
.container{position: relative;z-index: 20;}
#footer{position: relative;z-index: 10;}
/* module */
#header{background-color: #f7f7f7;}
#header .logo_wrap{float: left;padding: 20px 0;}
#header .menu_wrap{float: right;}
#header .menu_wrap .n_mem{float: right;padding: 10px 0 34px;}
#header .menu_wrap .n_mem_list{float: left;padding-left: 10px;}
#header .menu_wrap .n_mem_list a{font-size: 16px;}
#header .menu_wrap .mem{float: right;padding: 12px 0 28px;}
#header .menu_wrap .mem_list{float: left;padding-left: 14px;}
#header .menu_wrap .mem_img{display: inline-block;width: 32px;vertical-align: middle;}
#header .menu_wrap .box_wrap{position: relative;}
#header .menu_wrap .box_cnt{position: absolute;top: 40px;right: 0;padding: 14px;width: 140px;font-size: 15px;border: 1px solid #ddd;background-color: #fff;box-shadow: 2px 2px 3px 3px rgba(100, 100, 100, 0.1);}
#header .menu_wrap .on .box_cnt{visibility: visible;opacity: 1;-ms-transform: scale(1);transform: scale(1);}
#header .menu_wrap .notice_box{visibility: hidden;opacity: 0;transform: scale(0.9);transform-origin: top right;transition: .15s ease;width: 220px;}
#header .menu_wrap .notice_box .notice_del.empty_notice{display: none;}
#header .menu_wrap .notice_box .box_list_wrap{overflow: auto;margin-bottom: 10px;max-height: 230px;}
#header .menu_wrap .notice_box .box_list_wrap::-webkit-scrollbar {display: none;}
#header .menu_wrap .notice_box .box_list .title{font-size: 14px;font-weight: bold;}
#header .menu_wrap .notice_box .box_list .cnt{font-size: 14px;}
#header .menu_wrap .notice_box .box_list:not(:first-child){padding-top: 12px;}
#header .menu_wrap .notice_box .box_list:not(:last-child){padding-bottom: 12px;border-bottom: 1px solid #aaa;}
#header .menu_wrap .notice_box .notice_del{float: right;border: none;font-weight: bold;background-color: transparent;}

#header .menu_wrap .box_cnt .box_list{padding: 6px 0;}
#header .menu_wrap .box_cnt .box_list.logout_top{padding-bottom: 16px;}
#header .menu_wrap .box_cnt .box_list.logout{padding-top: 12px;border-top: 1px solid #ddd;}
#header .menu_wrap .mem_box{visibility: hidden;opacity: 0;transform: scale(0.9);transform-origin: top right;
  transition: .15s ease;}

#header .menu_wrap .nav{float: right;}
#header .menu_wrap .nav_list{float: left;padding-left: 20px;}
#header .menu_wrap .nav_list a{font-size: 18px;font-weight: bold;}

#header .visual_wrap{padding: 100px 200px 200px;}
#header .slogan_wrap{padding: 20px 0;}
#header .slogan_wrap .slogan_cnt{text-align: center;font-style: italic;font-weight: bold;letter-spacing: 5px;}
#header .srch_wrap{display: flex;padding: 14px;background-color: #fff;box-shadow: 2px 2px 3px 3px rgba(100, 100, 100, 0.1);}
#header .srch_wrap .srch_img{width: 30px;}
#header .srch_wrap .srch_ipt{margin-left: 10px;width: calc(100% - 30px);text-align: center;border: none;}
#header .gnb_wrap .srch_form{float: left;margin: 40px 0 0 30px;}
#header .gnb_wrap .srch_form .srch_ipt{width: 380px;}


#footer{background-color: #f7f7f7;border-top: 1px solid #ddd;}
#footer .policy_list{float: left;padding: 20px 16px 40px 0;}
#footer .policy_list a{font-size: 14px;}
#footer .policy_list:nth-child(2) a{font-weight: bold;}
#footer .customer_wrap{}
#footer .customer_wrap .center_list{}
#footer .customer_wrap .center_tit{font-size: 16px;font-weight: bold;}
#footer .customer_wrap .center_tel{font-size: 22px;font-weight: bold;letter-spacing: -2px;}
#footer .customer_wrap .center_noti{font-size: 12px;}
#footer .customer_wrap .faq_link{position: relative;padding: 20px 0 40px;}
#footer .customer_wrap .faq_link:before{content: "";position: absolute;top: 12px;left: 0;width: 20px;height: 1px;background-color: #333;}
#footer .customer_wrap .faq_link a{font-size: 16px;font-weight: bold;}
#footer .office_wrap{padding: 10px 0 20px;}
#footer .office_wrap .office_list{position: relative;float: left;padding-right: 9px;font-size: 12px;color: #aaa;}
#footer .office_wrap .office_list:not(:first-child):after{content: "";position: absolute;top: 4px;left: -4px;width: 1px;height: 10px;background-color: #aaa;}
#footer .office_wrap .office_list address{font-style: normal;}

/* popup */
.pop_wrap{margin: 0 auto;width: 800px; height: 400px;background-color: #fff;}

/* container 공통 버튼 */
.container .btn_wrap{padding-top: 40px;text-align: center;}
.container .btn_com{width: 160px;line-height: 50px;border: 0;transition: 0.25s;}
.container .btn_com:hover{box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.2);transition: 0.25s;}
.container .btn_com:nth-child(2){margin-left: 10px;}
.container .btn_white{color: #171f57;background-color: #dfdfdf;}
.container .btn_blue{color: #f7f7f7;background-color: #171f57;}

/* container 공통 테이블 */
.container .tbl_wrap .tbl{width: 100%;border-top: 1px solid #171f57;border-bottom: 1px solid #555;}
.container .tbl_wrap .tbl tr:not(:last-child){border-bottom: 1px solid #aaa;}
.container .tbl_wrap .tbl th{padding: 10px 0;background-color: #171f57;color: #fff;}
.container .tbl_wrap .tbl tr td{padding: 20px 0;font-size: 16px;text-align: center;}
.container .tbl_wrap .tbl .squ_tbl{padding: 4px 8px;background-color: #ddd;font-size: 13px;}

/* container 공통 input */
.container .title{float: left;width: 120px;font-size: 16px;line-height: 40px;} 
.container .main_cnt_list{padding-bottom: 20px;}
.container .box_input{float: left;}
.container .box_input input{padding: 5px;width: 240px;line-height: 30px;border: 1px solid #ddd;}
.container .box_select select{padding: 9px 5px;width: 140px;line-height: 30px;border: 1px solid #ddd;}
.container .box_radio{line-height: 42px;}
.container .box_radio label{padding-right: 18px;}
.container .box_chk{line-height: 42px;}
.container .box_chk label{padding-right: 18px;}

/* container 공통 pager */
.container .pager_wrap{padding: 60px 0;text-align: center;}
.container .pager_wrap .pager_com{display:inline-block;width: 40px;margin: 0 2px;background-color: #f1f1f1;}
.container .pager_wrap .pager_num.on{background-color: #171f57;}
.container .pager_wrap .pager_com a{padding: 10px 0;text-align: center;color: #171f57;}
.container .pager_wrap .pager_num.on a{color: #fff;}

/* container layout 1번 */
.container .layout_1_wrap{padding: 40px 0;}
.container .layout_1_wrap .main_title{padding-bottom: 40px;}
.container .layout_1_wrap .main_cnt_list .title{float: left;width: 120px;font-size: 16px;line-height: 40px;}

/* container layout 2번 */
.container .layout_2_wrap{padding: 40px 0;}
.container .layout_2_wrap .main_title{padding-bottom: 40px;text-align: center;}
.container .layout_2_wrap .main_cnt{margin: auto;padding: 40px;width: 660px;border: 1px solid #ddd;box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.1);}
.container .layout_2_wrap .main_cnt_list .title{float: left;width: 120px;font-size: 16px;line-height: 40px;} 
.container .layout_2_wrap .main_cnt_list .box_input{width: calc(100% - 400px);}
.container .layout_2_wrap .main_cnt_list .box_input input{width: 100%;}

/* container layout 3번 */
.container .layout_3_wrap{padding: 30px;box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.3);}

/* sub menu 페이지 */
.sub_menu_wrap{float: left;padding: 20px 0;width: 200px;}
.sub_menu_wrap .sub_menu_tit{padding-bottom: 24px;font-size: 24px;}
.sub_menu_wrap .sub_menu_cnt{border-top: 2px solid #333;border-bottom: 2px solid #333;}
.sub_menu_wrap .sub_menu_list{padding: 14px 8px;}
.sub_menu_wrap .sub_menu_list:not(:last-child){border-bottom: 1px solid #333;}
.sub_menu_wrap .sub_menu_list.add{position: relative;}
.sub_menu_wrap .sub_menu_list.add:after{content:"▼";position: absolute;top: 16px;right: 10px;}
.sub_menu_wrap .sub_menu_list>a{font-size: 18px;}
.sub_menu_wrap .sub_menu_list.on>a{font-weight: bold;}
.sub_menu_wrap .sub_menu_list.add.open>a{padding-bottom: 14px;}
.sub_menu_wrap .sub_menu_list.add.open:after{top: 20px;transform: rotate(180deg);}
.sub_menu_wrap .sub_side_wrap{display: none;}
.sub_menu_wrap .sub_menu_list.add.on .sub_side_wrap{display: block;}
.sub_menu_wrap .sub_menu_list.add.on .sub_side_list.on{font-weight: bold;}
.sub_menu_wrap .sub_side_list a{padding: 5px 0px;font-size: 16px;}
.sub_menu_wrap .sub_side_list.on a{font-weight: bold;}
.sub_ctn_wrap{float: left;padding: 20px 0 40px 30px;width: calc(100% - 230px);}
.sub_ctn_wrap .sub_ctn_tit{padding-bottom: 15px;font-size: 30px;font-weight: normal;}