@charset "UTF-8";

.container .box_input input{padding: 5px;width: 240px;line-height: 30px;border: 1px solid #ddd;}

.container #box_input input{padding: 5px;width: 240px;line-height: 30px;border: 1px solid #ddd;}