@charset "UTF-8";

#private {line-height:40px;}

.btn_com.btn_blue.edit{float:right; width:118px; height:50px;}
.account {text-align: center;line-height: 60px}
.account.number{font-weight: bolder;}
/* a:link{text-align: center; text-decoration: underline; font-weight: bolder;}  */
.box_input.rate {line-height: 40px;}
.rating{width: 120px;height: 40px;}
#subject {line-height: 20px;width: 400px;}
.contents {
	height: 300px; width: 400px;
	resize: none;

}
#edit{
    top: 0px;
    right: 0px;
}

.main_cnt_list.clearfix {text-align: center; top:50%; left: 50%;}
.btn_com.btn_blue.com {width: 200px; height: 40px;}
#pwdme {text-align: center;}
.sub_ctn_tit.gset{font-weight: bolder;}
.treview{text-align: center;}
.box_input.tinfo {line-height: 40px;}
.title.set {text-align: left;}
.text {line-height: 40px;float:left;width: 670px;}
.box_input.tinfo>.ad1 {width:70px; height:30px;}
.box_input.tinfo>.ad2 {width: 420px; height:30px;}
.box_input.tinfo>.ad3 {width: 120px; height:30px; float: left;}
.box_chk.lang {float: left;}
.other {float:left;}

.main_cnt_list.clearfix.pwd {
	display: inline;
	padding: 50px 20px;
	text-align: center;
	
}

.container .box_input.input{
	text-align: center;
	width:270px;
	height: 40px;
	
}

.box_input.tinfo>.else{ height: 30px; width: 100px;}
.box_inputtinfo>.intro{ line-height: 30px; float: left; width: 600px; height: 100px;}
.main_cnt_list.clearfix.pwd {position: relative;left: 30%; font-weight: bolder; }

::placeholder  {font-weight: bolder;}

.main_cnt_list.clearfix.newpwd {
    font-weight: bolder;}
    
.main_cnt_list.clearfix.newpwd .box_input{display: inline-block;float: none;}
    
.main_cnt_list.clearfix.newpwd2 .box_input{display: inline-block;float: none;}
.main_cnt>.newpwd{
	text-align: center;
	padding-bottom: 25px;
	
}

.box_input.findpwd{
	text-align: center;
}

.lang_etc_wrap{
	position: relative;
    margin-top: 10px;
	
	
}
.sub_ctn_list .sub_cnt .add_btn {
    position: absolute;
    top: 36px;
    left: 225px;
    padding: 4px 14px 8px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-color: #171f57;
    border-radius: 50%;

}

.sub_ctn_list .sub_cnt .add_btn.minus_btn {
    left: 268px;
    padding: 4px 16px 8px;
}


.plusbtn{
	width:20px;
	height: 20px;
	
}
.lang_etc_cnt{
	width: 20px;
	
}


.lang_etc_wrap{
	padding-bottom: 10px;
	padding-right: 25px;
}

.others{
	padding-right:92px;
	 vertical-align: top;
	
}

.ipt_txt_lang{
	float:left;
}

.img_btn{
	
	background: url( "../../../../imgs/plus_icon.png" ) no-repeat;
        border: none;
        width: 20px;
        height: 20px;
        cursor: pointer;
		margin-left :10px;
		float:left;
}
 .here{
	width: 200px;
}
  .delCnt{
 	cursor:pointer;
 } 
 
 
 .box_input.findpwd{
 float: inherit;
 }
 
 .container .box_input{
 	line-height: 40px;
 }
 
 
/*  profileEditPopup.jsp */
 
.editProfile{
 margin: 10 auto;
 height: 50px;
 background-color: #171f57;
 color:white;
 text-align: center;
 line-height: 50px;
}

.checkPwd{
	margin-bottom: 30px;
}
.pop_wrap.pwd{
	text-align: center;
	padding-top:  50px;
	width: 420px;
	height: 200px;
	
}
.btn_com.btn_blue{
	 background-color: #171f57;
	 border: none;
	 color: white;
	 
}
.inputPwd{
	margin-bottom: 30px;
	color: white;	
}
.enterPwd{
	width: 270px;
	height: 40px;
}


.btn_com.btn_blue.close{
	height: 40px;
	width: 100px;
}

.btn_com.btn_white.confirm{
	color: #171f57;
	font-weight: bold;
	background-color: #dfdfdf;
	width: 100px;
	height: 40px;
	margin-left: 10px;
	
}

/* Myprofile password change */
.main_cnt_list.clearfix.pwd{
	
	text-align: center;
}


.pwdbtn{
	text-align: center;	
	margin-left: 0px;
	
}
#tableArea tr{
		height:50px;
	}
.btnStyle{
		width: 260px;
		line-height: 50px;
		border: 0;
		transition: 0.25s;
		color: #f7f7f7;
		background-color: #171f57;
	}
	
	
pwdChange.jsp	
	
.main_cnt_list.clearfix.Npwd{
	text-align: center;
}

.table.pwdFor{
	width: 100px;
    margin: auto;
	
}

.btn_wrap.spwd{
	text-align: center;
}

.editProfile.modi{
	background-color: #171f57;
	 border: none;
	 color: white;
}bv gv   

.container.main_cnt_list
{
	line-height: 40px !important;
}

.box_inputtinfo
{
	text-align: left !important ;
}

/* guideProfileEdit */

.box_input.tinfo.num1{
	width: 60px; !important;
	height: 40px; !important;
}
#addressApi{
	text-align: center; !important;
	vertical-align:middle;
	width:100px;height: 30px;
	line-height: 28px;	
}

