@charset "UTF-8";
.container .layout_1_wrap .main_cnt_list .title_situation{font-size: 25px;}
hr{border: solid 1px gray;}
.container .layout_1_wrap .main_cnt_list .box_input .notice{color: red;}
.container .layout_1_wrap .main_cnt_list pre{font-size: 15px;}
.container .layout_1_wrap .main_cnt_list .guide-image{float: left;border:solid 1px black; width:100px; height: 100px;}
.container .tbl_wrap .tbl .squ_tbl2{padding: 4px 8px;background-color: skyblue;font-size: 13px;}
.container .btnpage1{background-color: skyblue;}
.container .pageNumber{padding:1px 300px; font-size: 30px;}
.container hr{width:30%;}
.container .txt_cnt{font-size: 25px;}
.container .main_cnt_list2{}
.container .btn_com{float:right;}
.container .hrtag1{width:20%;}
.container #address1{height: 25px;}
.container .introduction{width:700px; height:100px;}
.container .btn_com_fix{float:left;} 
.container .tbl_wrap{positon: relative;}
.container .btn_com2{text-align:center;width: 100px;line-height: 40px;border:1px solid black; background-color:white;}
.container .btn_com3{text-align:center;float:right; width: 100px;line-height: 40px;}
.container .title2{float:none; margin-right:525px;}
.container .txt_cnt22{display:inline-block; font-size: 25px;}
.container .count{padding-left: 50px;}
.container .boolean{padding-left: 275px;}
.container .account{padding-left: 300px;}
.container .refund{padding-left: 150px;}
.container .add_btn{position: absolute;top: 800px;left: 400px;padding: 4px 14px 8px;font-weight: bold;font-size: 18px;color: #fff;background-color: #171f57;border-radius: 50%;}
.container .plan{font-size : 15px;}
.container .txt_cnt2{float: left;padding: 5px;line-height: 30px; font-size:20px;}
.container .txt_cnt3{float: left;padding: 5px;line-height: 30px; font-size:17px;}
.container .inc{padding-right: 50px; display:inline-block;}
.container .incl{padding-left : 150px;}
.container .btnad{background-color:#ffffff; border:1px solid black;}
.container .btnaddd{margin:auto; width: 5%;}
.container .cau{padding-left:160px;}
.container .cnt{display:inline-block; padding-left: 10px;}
.container .cnt2{padding-left : 150px;}
.container .cnt3{display:inline-block;}
.container .cnt4{padding-left: 90px;}






