@charset "utf-8";
.container .tbl_wrap .tbl .squ_tbl.blue{background-color:#171f57; color:white; }
.container .main_cnt.c2{margin-right:300px;}
.sub_ctn_wrap.ce{width:600px; height:900px; font-size:16px;}
.finish {font-size: 16px; line-height: 40px;font-weight: bold;}
.start{font-size: 16px; line-height: 40px;font-weight: bold;}
.status{line-height:40px;}
.squ_tbl .fi3{color:rgb(189, 80, 69);}
.container .tbl_wrap .tbl .squ_tbl.fi1{background-color:rgb(247, 247, 247);} 
.container .tbl_wrap .tbl .squ_tbl.fi2{background-color:rgb(52, 152, 219);} 
.container .tbl_wrap .tbl .squ_tbl.fi3{background-color:rgb(189, 80, 69);}
.searchTable {border:1px solid lightgray; width:700px; height:100px; position:relative; left:70px; height:100px; top:-40px;}
.sub_ctn_tit.myProgram{position:relative; left:70px; top:20px;}
.searchBtn {position:relative; top:-100px; left:500px;}
.programName {position:relative; left:-170px; top:30px;}
.programDate {position:relative; left:90px; top:5px;}
.nameDiv {position:relative; left:-173px; top:20px;}
.dateDiv {position:relative; left:91px; top:-5px;}
.btn_com.btn_blue.my {position:relative; left:130px; top:-100px; }
.myProgram {position:relative; top:20px;left:30px; }
.sub_ctn_wrap.mp{position:relative; top:-80px;}
 .program_ctn_wrap .program_ctn{padding-right: 20px;}
 .program_list .program_cnt:not(:last-child){padding: 14px 0;}
 .program_list .program_cnt:last-child{padding-top: 14px;}
 .program_list .program_cnt .cnt_tit{font-size: 18px;font-weight: bold;}
 .program_list .program_cnt .cnt{font-size: 16px;}
 .program_list .sub_tit{padding-bottom: 20px;font-size: 16px;font-weight: bold;line-height: 24px;}
 .program_list .top_cnt{padding-bottom: 34px;}
 .program_list .grade_cnt{float: left;}
 .program_list .grade_cnt .grade_tit{float: left;padding-right: 4px;font-size: 16px;font-weight: bold;}
 .program_list .grade_cnt .star_wrap{float: left;padding-top: 5px;}
 .program_list .grade_cnt .star_wrap i{float: left;width: 15px;}
 .program_list .grade_cnt .star_wrap img{width: 100%;}
 .program_list .review_cnt{float: right;font-size: 16px;font-weight: bold;}
 .program_list .location_cnt{font-size: 18px;font-weight: bold;}
 .program_list .program_tit_cnt{font-size: 16px;font-weight: bold;}
 .program_list .desc_cnt{padding-bottom: 34px;font-size: 16px;font-weight: bold;}
 .program_list .location_cnt{font-size: 18px;font-weight: bold;}
 .program_list .program_cnt .meet_map{margin-top: 10px;height: 300px;}

 .course_wrap{margin-top: 10px;margin-bottom: 20px;padding: 40px 20px;border: 1px solid #ddd;}
 .course_wrap .total_course_list{padding: 16px 0;}
 .course_wrap .total_course_list:not(:last-child){border-bottom: 1px solid #ddd;}
 .course_wrap .total_course_list:first-child{padding-top: 0;}
 .course_wrap .total_course_list:last-child{padding-bottom: 0;}
 .total_course_list .day_tit{float: left;width: 100px;font-size: 22px;font-weight: bold;}
 .total_course_list .day_cnt{float: left;width: calc(100%-100px);font-size: 18px;font-weight: bold;}
 .total_course_list .day_cnt_list:not(:last-child){padding-bottom: 16px;}
 .detail_course_tit{}
 .detail_course_tit .tit{font-size: 22px;font-weight: bold;text-align: center;}
 .detail_course_tit .total_time{padding-bottom: 22px;font-size: 16px;font-weight: bold;text-align: center;}
 .detail_course_ctn:not(:nth-child(2)){padding-top: 20px;} 
 .detail_course_ctn .ctn_tit{padding-top: 20px;font-size: 20px;font-weight: bold;text-align: center;}
 .detail_course_ctn .place_tit{padding: 6px 0 12px;font-size: 18px;font-weight: bold;text-align: center;}
 .detail_course_ctn .place_img{width: 100%;}
 .detail_course_ctn .desc{padding-top: 6px;font-size: 16px;text-align: justify;}
 .review_wrap{}
 .review_wrap .review_ctn{padding: 16px;border: 1px solid #ddd;}
 .review_wrap .review_ctn:not(:nth-last-child(2)){margin-bottom: 16px;}
 .review_wrap .guide_review_wrap{padding-top: 14px;padding-left: 14px;}
 .review_wrap .user_name_cnt{font-size: 16px;font-weight: bold;}
 .review_wrap .review_top_cnt .user_name_cnt{float: left;}
 .review_wrap .star_wrap{float: left;padding-top: 4px;padding-left: 4px;}
 .review_wrap .star_wrap i{float: left;width: 15px;}
 .review_wrap .star_wrap img{width: 100%;}
 .review_wrap .date_cnt{font-size: 14px;}
 .review_wrap .review_main_cnt{padding-top: 8px;font-size: 16px;}
 .review_wrap .btn_wrap{padding: 40px 0;}
 .payArea {font-size:16px; color:red;}
 .payWon{padding-left:120px; line-height:40px;}
/*  .review_wrap .review_ctn{display: none;} */
