@charset "UTF-8";

/* 큰 카드 기본 스타일 */
.new_wide_wrap{padding-bottom: 32px;}
.new_wide{height: 300px;box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.2);transition: 0.25s;}
.new_wide .new_wide_img{float: left;overflow: hidden;width: 400px;height: 300px;text-align: center;}
.new_wide .new_wide_img img{width: 215%;transform: translateX(-25%);}
.new_wide .new_wide_cnt_wrap{float: left;padding: 14px;width: calc(100% - 428px);}
.new_wide .new_wide_cnt_wrap .top_cnt{padding-bottom: 20px;}
.new_wide .new_wide_cnt_wrap .grade_cnt{float: left;}
.new_wide .new_wide_cnt_wrap .grade_tit{float: left;}
/* .new_wide .new_wide_cnt_wrap .grade_cnt .grade_tit{float: left;padding-right: 4px;font-weight: bold;} */
.new_wide .new_wide_cnt_wrap .grade_cnt .star_wrap{float: left;}
.new_wide .new_wide_cnt_wrap .grade_cnt .star_wrap i{float: left;width: 20px;}
.new_wide .new_wide_cnt_wrap .grade_cnt .star_wrap img{width: 100%;}
.new_wide .new_wide_cnt_wrap .review_cnt{float: right;font-size: 14px;font-weight: bold;}
.new_wide .new_wide_cnt_wrap .location_cnt{font-size: 14px;font-weight: bold;}
.new_wide .new_wide_cnt_wrap .guide_cnt{font-size: 22px;font-weight: bold;}
.new_wide .new_wide_cnt_wrap .program_tit_cnt{margin-top: -8px;font-size: 32px;font-weight: bold;}
.new_wide .new_wide_cnt_wrap .price_cnt{padding: 5px 0 14px;font-size: 18px;font-weight: bold;}
.new_wide .new_wide_cnt_wrap .desc_cnt{font-size: 14px;}
.new_wide .new_wide_cnt_wrap .desc_cnt{display:-webkit-box;height:60px;line-height:20px;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.new_wide .new_wide_cnt_wrap .bot_cnt{padding-top:14px;}
.new_wide .new_wide_cnt_wrap .person_cnt{float: left;font-size: 16px;font-weight: bold;}
.new_wide .new_wide_cnt_wrap .time_cnt{float: right;font-size: 16px;font-weight: bold;}

/* 카드 기본 스타일 */
.all_card_wrap{}
.card_wrap{float: left;margin-bottom: 32px;margin-right: 32px;}
.card_wrap:nth-child(4n){margin-right: 0;}
.card_wrap .card{width: 246px;height: 315px;box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.2);}
.card_wrap .card .card_img{overflow: hidden;display: block;height: 194px;}
.card_wrap .card .card_img img{width: 210%;transform: translateX(-25%);}
.card_wrap .card .card_cnt_wrap{padding: 10px;}
/* . */
.card_wrap .card .top_cnt{}
.card_wrap .card .top_cnt .guide_cnt{float: left;font-size: 16px;font-weight: bold;}
.card_wrap .card .top_cnt .location_cnt{float: right;font-size: 14px;}
.card_wrap .card .program_tit_cnt{line-height: 23px;font-size: 18px;font-weight: bold;}
.card_wrap .card .price_cnt{font-size: 14px;font-weight: bold;}
.card_wrap .card .time_cnt{font-size: 12px;font-weight: bold;}
.card_wrap .card .bot_cnt{}
.card_wrap .card .bot_cnt .grade_cnt{float: left;}
.card_wrap .card .bot_cnt .grade_cnt .grade_tit{float: left;padding-right: 4px;font-size: 12px;}
.card_wrap .card .bot_cnt .grade_cnt .star_wrap{float: left;}
.card_wrap .card .bot_cnt .grade_cnt .star_wrap i{float: left;width: 15px;}
.card_wrap .card .bot_cnt .grade_cnt .star_wrap img{width: 100%;}
.card_wrap .card .bot_cnt .review_cnt{float: right;font-size: 12px;}

.card_wrap.guide_card_wrap .location_cnt{font-size: 14px;}
.card_wrap.guide_card_wrap .guide_name_cnt{font-size: 20px;font-weight: bold;}
.card_wrap.guide_card_wrap .guide_age_cnt{padding-bottom: 15px;font-size: 14px;font-weight: bold;}

/* 메인 페이지 - index.jsp*/
.main_page .new_guide_wrap{padding-bottom: 60px;}
.main_page .new_program_wrap .tit{padding:40px 0 20px;font-size: 28px;font-weight: bold;}
.main_page .new_guide_wrap .tit{padding:40px 0 20px;font-size: 28px;font-weight: bold;}
.main_page .new_program_wrap .more_btn_wrap{padding-bottom: 20px;}
.main_page .new_program_wrap .more_btn_wrap.index_more{padding-bottom: 68px;}
.main_page .new_guide_wrap .more_btn_wrap{padding-bottom: 20px;}
.main_page .new_program_wrap .more_btn_wrap .btn_com{display: inline-block;}
.main_page .new_guide_wrap .more_btn_wrap .btn_com{display: inline-block;}
.main_page .main_banner_wrap{padding: 0 0 33px;}
.main_page .main_banner{padding: 20px;background-color: #f7f7f7;box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.2);transition: 0.25s;}
.main_page .main_banner:hover{background-color: #171f57;color: #fff;transition: 0.25s;}
.main_page .main_banner .main_banner_cnt{font-style: italic;}
.main_page .main_banner .main_banner_cnt:nth-child(1){float: left;font-size: 29px;}
.main_page .main_banner .main_banner_cnt:nth-child(2){float: right;padding-top: 58px;font-size: 18px;font-weight: bold;}

/* 프로그램 보기 목록 페이지 - areaList.jsp */
/* .areaList .sub_ctn_tit{padding: 10px 0 5px;font-size: 20px;font-weight: bold;} */
.areaList .new_wide_wrap{padding-bottom: 35px;}
.areaList .new_wide .new_wide_cnt_wrap .top_cnt{padding-bottom: 28px;}
.areaList .new_wide .new_wide_cnt_wrap .bot_cnt{padding-top: 24px;}
.areaList .card_wrap{margin-bottom: 35px;margin-right: 35px;}
.areaList .card_wrap .card{width: 260px;}
.areaList .card_wrap:nth-child(3n){margin-right: 0;}

/* 가이드 보기 목록 페이지 - guideList.jsp */
.guideList .new_wide_wrap{}
.guideList .new_wide_wrap .new_wide_cnt_wrap .guide_name_cnt{padding-top: 20px;font-size: 32px;font-weight: bold;}
.guideList .new_wide_wrap .new_wide_cnt_wrap .guide_age_cnt{padding-bottom: 34px;font-size: 18px;font-weight: bold;}
.guideList .card_wrap{margin-bottom: 35px;margin-right: 35px;}
.guideList .card_wrap .card{width: 260px;}
.guideList .new_wide .new_wide_cnt_wrap .desc_cnt{height: 100px;-webkit-line-clamp: 5;}
.guideList .card_wrap:nth-child(3n){margin-right: 0;}

/* 프로그램 상세보기 페이지 - programDetail.jsp */
.programDetail .visual_ctn{position: relative;padding: 20px 0;}
.programDetail .visual_ctn .slick-arrow{position: absolute;top: 188px;z-index: 100;width: 54px;height: 54px;text-indent: -9999px;background-color: transparent;border: none;background-size: contain;background-repeat: no-repeat;}
.programDetail .visual_ctn .slick-prev{left: 14px;background-image: url(../../imgs/slide_prev_icon.png);}
.programDetail .visual_ctn .slick-next{right: 8px;background-image: url(../../imgs/slide_next_icon.png);}
.programDetail .visual_ctn .slick-arrow:focus{outline: none;}
.programDetail .visual_ctn .visual_list img{width: 100%;}
.programDetail .sticky_menu_wrap{display: none;width: 1080px;box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.2);}
.programDetail .sticky_menu_wrap.fix{display: block;position: fixed;top: 0;left: 50%;z-index: 200;transform: translateX(-50%);}
.programDetail .sticky_menu_ctn{background-color: #f7f7f7;}
.programDetail .sticky_menu_ctn .sticky_menu_list{float: left;width: 20%;}
.programDetail .sticky_menu_ctn .sticky_menu_list a{padding: 20px 0;font-size: 18px;font-weight: bold;text-align: center;}

.programDetail .program_list_wrap:not(:first-child){padding: 20px 0;}
.programDetail .program_list_wrap:first-child{padding-bottom: 20px;}
.programDetail .program_list_wrap:not(:last-child){border-bottom: 1px solid #ddd;}

.programDetail .main_ctn_wrap{position: relative;}
.programDetail .main_ctn_wrap .program_ctn_wrap{width: calc(100% - 290px);}
.programDetail .main_ctn_wrap .impo_ctn_wrap{position: absolute;top: 0;right: 0;width: 290px;height: 426px;box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.2);background-color: #fff;}
.programDetail .main_ctn_wrap .impo_ctn_wrap.fix{position: fixed;top: 80px;}
.programDetail .impo_ctn_wrap .impo_ctn{padding: 10px;}
.programDetail .impo_ctn_wrap .top_ctn{padding: 0 0 10px;}
.programDetail .impo_ctn_wrap .top_ctn .base_price_cnt{float: left;font-weight: bold;font-size: 18px;}
.programDetail .impo_ctn_wrap .top_ctn .share_cnt{float: right;width: 28px;height: 28px;}
.programDetail .impo_ctn_wrap .top_ctn .share_cnt img{width: 100%;}
.programDetail .impo_ctn_wrap .select_ctn{padding: 10px 0;border-top: 1px solid #ddd;}
.programDetail .impo_ctn_wrap .select_ctn .tit{padding: 0 0 6px;font-weight: bold;font-size: 16px;}
.programDetail .impo_ctn_wrap .select_ctn .date_ctn{padding: 0 0 8px;width: 100%;font-size: 14px;}
.programDetail .impo_ctn_wrap .select_ctn .date_ctn .date_pick{padding-left: 4px;width: 97%;line-height: 30px;}
.programDetail .impo_ctn_wrap .select_ctn .person_ctn{width: 100%;font-size: 14px;}
.programDetail .impo_ctn_wrap .select_ctn .person_ctn .person_pick{padding-left: 4px;width: 99%;height: 36px;line-height: 36px;}
.programDetail .impo_ctn_wrap .detail_price_ctn{padding: 20px 0 10px;}
.programDetail .detail_price_ctn .person_price{font-size: 16px;}
.programDetail .detail_price_ctn .service_price{font-size: 16px;}
.programDetail .detail_price_ctn .total_price{padding-top: 8px;font-weight: bold;font-size: 18px;}
.programDetail .detail_price_ctn .clearfix span:first-child{float: left;}
.programDetail .detail_price_ctn .clearfix span:last-child{float: right;}
.programDetail .impo_ctn_wrap .btn_ctn{padding-bottom: 10px;}
.programDetail .impo_ctn_wrap .btn_ctn .wish_btn{float: left;width: 46px;height: 46px;border: none;background-color: #f7f7f7;}
.programDetail .impo_ctn_wrap .btn_ctn .wish_btn img{width: 100%;}
.programDetail .impo_ctn_wrap .btn_ctn .buy_btn{float: left;width: 100%;height: 46px;background-color: rgb(23, 31, 87);text-align: center;font-size: 14px;font-weight: bold;color: #f7f7f7;border: none;}
.programDetail .impo_ctn_wrap .guide_ctn{padding: 12px 0 12px;border-top: 1px solid #ddd;}
.programDetail .impo_ctn_wrap .guide_ctn .guide_name{float: left;font-size: 14px;font-weight: bold;}
.programDetail .impo_ctn_wrap .guide_ctn .send_msg{float: right;font-size: 14px;font-weight: bold;}

.programDetail .program_ctn_wrap .program_ctn{padding-right: 20px;}
.programDetail .program_list .program_cnt:not(:last-child){padding: 14px 0;}
.programDetail .program_list .program_cnt:last-child{padding-top: 14px;}
.programDetail .program_list .program_cnt .cnt_tit{font-size: 18px;font-weight: bold;}
.programDetail .program_list .program_cnt .cnt{font-size: 16px;}
.programDetail .program_list .sub_tit{padding-bottom: 20px;font-size: 24px;font-weight: bold;line-height: 24px;}
.programDetail .top_cnt{padding-bottom: 16px;}
.programDetail .grade_cnt{float: left;}
.programDetail .grade_cnt .grade_tit{float: left;padding-right: 4px;font-size: 16px;font-weight: bold;}
.programDetail .grade_cnt .star_wrap{float: left;padding-top: 5px;}
.programDetail .grade_cnt .star_wrap i{float: left;width: 15px;}
.programDetail .grade_cnt .star_wrap img{width: 100%;}
.programDetail .review_cnt{float: right;font-size: 16px;font-weight: bold;}
.programDetail .program_list .location_cnt{font-size: 18px;font-weight: bold;}
.programDetail .program_list .program_tit_cnt{font-size: 32px;font-weight: bold;}
.programDetail .program_list .desc_cnt{padding-bottom: 34px;font-size: 16px;font-weight: bold;}
.programDetail .program_list .location_cnt{font-size: 18px;font-weight: bold;}
.programDetail .program_list .program_cnt .meet_map{margin-top: 10px;height: 300px;}

.programDetail .course_wrap{margin-top: 10px;margin-bottom: 20px;padding: 40px 20px;border: 1px solid #ddd;}
.programDetail .course_wrap .total_course_list{padding: 16px 0;}
.programDetail .course_wrap .total_course_list:not(:last-child){border-bottom: 1px solid #ddd;}
.programDetail .course_wrap .total_course_list:first-child{padding-top: 0;}
.programDetail .course_wrap .total_course_list:last-child{padding-bottom: 0;}
.programDetail .total_course_list .day_tit{float: left;width: 100px;font-size: 22px;font-weight: bold;}
.programDetail .total_course_list .day_cnt{float: left;width: calc(100%-100px);font-size: 18px;font-weight: bold;}
.programDetail .total_course_list .day_cnt_list:not(:last-child){padding-bottom: 16px;}
.programDetail .detail_course_tit{}
.programDetail .detail_course_tit .tit{font-size: 22px;font-weight: bold;text-align: center;}
.programDetail .detail_course_tit .total_time{padding-bottom: 22px;font-size: 16px;font-weight: bold;text-align: center;}
.programDetail .detail_course_ctn:not(:nth-child(2)){padding-top: 20px;} 
.programDetail .detail_course_ctn .ctn_tit{padding-top: 20px;font-size: 20px;font-weight: bold;text-align: center;}
.programDetail .detail_course_ctn .place_tit{padding: 6px 0 12px;font-size: 18px;font-weight: bold;text-align: center;}
.programDetail .detail_course_ctn .place_img{width: 100%;}
.programDetail .detail_course_ctn .desc{padding-top: 6px;font-size: 16px;text-align: justify;}
.programDetail .review_wrap{}
.programDetail .review_wrap .review_ctn{padding: 16px;border: 1px solid #ddd;}
.programDetail .review_wrap .review_ctn:not(:nth-last-child(1)){margin-bottom: 16px;}
.programDetail .review_wrap .empty_review{padding: 60px 0;font-size: 16px;font-weight: bold;text-align: center;}
.programDetail .review_wrap .guide_review_wrap{padding-top: 14px;padding-left: 14px;}
.programDetail .review_wrap .user_name_cnt{font-size: 16px;font-weight: bold;}
.programDetail .review_wrap .review_top_cnt .user_name_cnt{float: left;}
.programDetail .review_wrap .star_wrap{float: left;padding-top: 4px;padding-left: 4px;}
.programDetail .review_wrap .star_wrap i{float: left;width: 15px;}
.programDetail .review_wrap .star_wrap img{width: 100%;}
.programDetail .review_wrap .date_cnt{font-size: 14px;}
.programDetail .review_wrap .review_main_cnt{padding-top: 8px;font-size: 16px;}
.programDetail .review_wrap .btn_wrap{padding: 40px 0;}
/* .programDetail .review_wrap .review_ctn{display: none;} */


/* 가이드 프로필 페이지 - guideInfo.jsp */
.guideInfo .main_info_wrap{float: left;width: 200px;}
.guideInfo .sub_info_wrap{float: left;width: calc(100% - 200px);}

.guideInfo .main_info_wrap .main_info_ctn{}
.guideInfo .main_info_ctn{}
.guideInfo .main_info_ctn .guide_img_wrap{overflow: hidden;width: 200px;height: 200px;}
.guideInfo .main_info_ctn .guide_local_ctn{padding-top: 10px;font-size: 15px;font-weight: bold;}
.guideInfo .main_info_ctn .guide_name_ctn{font-size: 24px;font-weight: bold;}
.guideInfo .main_info_ctn .guide_sub_info_ctn{font-size: 16px;font-weight: bold;}
.guideInfo .top_cnt{padding-bottom: 16px;}
.guideInfo .top_cnt .grade_cnt{float: left;}
.guideInfo .top_cnt .grade_cnt .grade_tit{float: left;padding-right: 4px;font-size: 16px;font-weight: bold;}
.guideInfo .top_cnt .grade_cnt .star_wrap{float: left;padding-top: 5px;}
.guideInfo .top_cnt .grade_cnt .star_wrap i{float: left;width: 15px;}
.guideInfo .top_cnt .grade_cnt .star_wrap img{width: 100%;}
.guideInfo .top_cnt .review_cnt{float: right;font-size: 16px;font-weight: bold;}
.guideInfo .main_info_ctn .guide_msg_btn_wrap{padding-top: 14px;}
.guideInfo .main_info_ctn .guide_msg_btn_wrap .guide_msg_btn{width: 100%;}

.guideInfo .sub_info_wrap .sub_info_ctn{padding-left: 20px;}
.guideInfo .sub_info_wrap .sub_info_list{padding-bottom: 40px;}
.guideInfo .sub_info_wrap .cnt_tit{padding-bottom: 8px;font-size: 21px;font-weight: bold;}
.guideInfo .sub_info_wrap .guide_pro_wrap .guide_prop_desc{font-size: 16px;}
.guideInfo .sub_info_wrap .guide_pro_wrap .guide_prop_desc p:not(:last-child){padding-bottom: 14px;}

.guideInfo .sub_info_wrap .card_wrap .card .top_cnt{padding-bottom: 0;}
.guideInfo .sub_info_wrap .card_wrap{margin-right: 31px;}
.guideInfo .sub_info_wrap .card_wrap:nth-child(3n){margin-right: 0;}
.guideInfo .sub_info_wrap .card_wrap .card{width: 266px;}

.guideInfo .review_wrap .review_ctn{padding: 16px;border: 1px solid #ddd;}
.guideInfo .review_wrap .review_ctn:not(:nth-last-child(1)){margin-bottom: 16px;}
.guideInfo .review_wrap .empty_review{padding: 60px 0;font-size: 16px;font-weight: bold;text-align: center;}
.guideInfo .review_wrap .guide_review_wrap{padding-top: 14px;padding-left: 14px;}
.guideInfo .review_wrap .user_name_cnt{font-size: 16px;font-weight: bold;}
.guideInfo .review_wrap .review_top_cnt .user_name_cnt{float: left;}
.guideInfo .review_wrap .star_wrap{float: left;padding-top: 4px;padding-left: 4px;}
.guideInfo .review_wrap .star_wrap i{float: left;width: 15px;}
.guideInfo .review_wrap .star_wrap img{width: 100%;}
.guideInfo .review_wrap .date_cnt{font-size: 14px;}
.guideInfo .review_wrap .review_main_cnt{padding-top: 8px;font-size: 16px;}
.guideInfo .review_wrap .btn_wrap{padding: 40px 0;}


/* 맞춤프로그램 소개 페이지 - customProgram_info.jsp */
.customProgram_info .layout_wrap{padding: 100px 0 120px;}
.customProgram_info .main_title{padding-bottom: 100px;text-align: center;}
.customProgram_info .custom_pro_list{margin: 0 auto;width: 850px;box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.4);}
.customProgram_info .custom_pro_list:not(:last-child){margin-bottom: 54px;}
.customProgram_info .custom_pro_list .custom_cnt_desc{float: left;width: calc(100% - 400px);text-align: center;}
.customProgram_info .custom_pro_list .custom_cnt_desc .desc_tit{padding-top: 120px;text-align: center;font-size: 20px;font-weight: bold;}
.customProgram_info .custom_pro_list .custom_cnt_desc .desc_sub{text-align: center;top: 14px;font-weight: bold;}
.customProgram_info .custom_pro_list .custom_cnt_img{overflow: hidden;float: left;width: 400px;}

.customProgram_info .btn_wrap{padding-top: 120px;}
.customProgram_info .btn_wrap .custom_sign_btn{margin: 0 auto;}


/* 정산 계좌 등록 페이지 - registerAccountPopup.jsp */
.registerAccountPopup{margin-bottom: 250px;}
.registerAccountPopup.container .layout_3_wrap{margin: 50px auto 0;width: 440px;height: 330px;text-align: center;}
.registerAccountPopup.container .layout_3_wrap.accountYN_Y{margin-top: 95px;height: 215px;}
.registerAccountPopup.container .layout_3_wrap .main_cnt{padding-top: 60px;}
.registerAccountPopup.container .layout_3_wrap.accountYN_Y .main_cnt{padding: 60px 0 40px;}
.registerAccountPopup.container .box_input{float: none;display: inline-block;}
.registerAccountPopup.container .box_input input{margin-bottom: 10px;width: 256px;}
.registerAccountPopup.container .box_select select{margin-bottom: 10px;width: 268px;}
.registerAccountPopup.container .btn_wrap{padding-top: 20px;}
.registerAccountPopup.container .register_btn{width: 268px;line-height: 46px;}

/* 환불 계좌 등록 팝업 - refundPopup.jsp */
.pop_wrap.refund_pop_wrap{width: 500px;height: 434px;}
.refund_pop_wrap .refund_pop_ctn{text-align: center;}
.refund_pop_wrap .refund_pop_ctn .pop_tit{padding: 45px 0;}
.refund_pop_wrap .refund_pop_ctn .box_input{}
.refund_pop_wrap .refund_pop_ctn .box_input input{margin-bottom: 10px;width: 256px;padding: 5px;line-height: 30px;border: 1px solid #ddd;}
.refund_pop_wrap .refund_pop_ctn .box_select select{margin-bottom: 10px;width: 256px;padding: 9px 5px;line-height: 30px;border: 1px solid #ddd;
}
.refund_pop_wrap .refund_pop_ctn .btn_wrap{padding-top: 20px;text-align: center;}
.refund_pop_wrap .refund_pop_ctn .register_btn{width: 268px;line-height: 46px;color: #f7f7f7;background-color: #171f57;border: none;}

/* 계정 삭제 팝업 - memberDelPopup.jsp */
.pop_wrap.member_del_pop{width: 576px;height: 566px;}
.member_del_pop .member_del_ctn .pop_tit{padding: 45px 0 0;text-align: center;}
.member_del_pop .member_del_ctn .pop_tit_desc{padding: 10px 0 45px;text-align: center;}
.member_del_pop .member_del_cnt .cnt_tit{padding: 0 0 20px 98px;}
.member_del_pop .member_del_cnt .cnt_radio_wrap{}
.member_del_pop .member_del_cnt .del_reason_wrap{padding: 0 0 8px 95px;}
.member_del_pop .member_del_cnt .del_reason{font-size: 16px;}
.member_del_pop .member_del_cnt .del_reason_wrap .del_reason_txt{display: block;margin-left: 4px;margin-top: 6px;width: 381px;height: 90px;resize: none;}
.member_del_pop .member_del_ctn .btn_wrap{padding-top: 20px;text-align: center;}
.member_del_pop .member_del_ctn .del_btn{width: 380px;line-height: 46px;color: #f7f7f7;background-color: #171f57;border: none;}

/* 프로그램 신청 페이지 - programAdd.jsp */
.programAdd .sub_ctn_list{padding: 20px 0;}
.programAdd .sub_ctn_list:first-child{padding-top: 0;}
.programAdd .sub_ctn_list:not(:nth-last-child(2)){border-bottom: 1px solid #ddd;}
.programAdd .sub_ctn_list .sub_tit{padding-bottom: 8px;font-size: 18px;font-weight: bold;}
.programAdd .sub_ctn_list .sub_cnt_wrap:not(:first-child) .sub_tit{padding-top: 20px;}
.programAdd .sub_ctn_list .sub_cnt .ipt_txt{padding: 5px;width: 340px;line-height: 30px;border: 1px solid #ddd;}
.programAdd .sub_ctn_list .sub_cnt .ipt_txt_box{display: block;padding: 5px;width: 450px;height: 150px;resize: none;border: 1px solid #ddd;}
.programAdd .sub_ctn_list .sub_cnt .ipt_sel{width: 160px;padding: 9px 5px;line-height: 30px;border: 1px solid #ddd;}
.programAdd .sub_ctn_list .sub_cnt .max_person_sel{margin-left: 4px;}
.programAdd .sub_ctn_list .sub_cnt .chk_wrap{}
.programAdd .sub_ctn_list .sub_cnt .chk_wrap .ipt_chk:not(:first-child){margin-left: 20px;}
.programAdd .sub_ctn_list .sub_cnt .chk_wrap .ipt_chk:first-child{margin-left: 0px;}
.programAdd .sub_ctn_list .sub_cnt .lang_etc_wrap{position: relative;margin-top: 10px;}
.programAdd .sub_ctn_list .sub_cnt .lang_etc_wrap span{font-size: 16px;}
.programAdd .sub_ctn_list .sub_cnt .lang_etc_cnt{padding-top: 10px;}
.programAdd .sub_ctn_list .sub_cnt .lang_etc_cnt .ipt_lang_etc{display: block;width: 200px;}
.programAdd .sub_ctn_list .sub_cnt .lang_etc_cnt .ipt_lang_etc:not(:last-child){margin-bottom: 4px;}
.programAdd .sub_ctn_list .sub_cnt .add_btn{position: absolute;top: 36px;left: 225px;padding: 4px 14px 8px;font-weight: bold;font-size: 18px;color: #fff;background-color: #171f57;border-radius: 50%;}
.programAdd .sub_ctn_list .sub_cnt .add_btn.minus_btn{left: 268px;padding: 4px 16px 8px;}

.programAdd .sub_ctn_list .sub_cnt .in_y_wrap{position: relative;margin-top: 10px;}
.programAdd .sub_ctn_list .sub_cnt .in_y_cnt .ipt_in_y{display: block;width: 200px;}
.programAdd .sub_ctn_list .sub_cnt .in_y_cnt .ipt_in_y:not(:last-child){margin-bottom: 4px;}
.programAdd .sub_ctn_list .sub_cnt .in_y_btn{top: 3px;}
.programAdd .sub_ctn_list .sub_cnt .in_y_minus_btn{top: 3px;}

.programAdd .sub_ctn_list .sub_cnt .in_n_wrap{position: relative;margin-top: 10px;}
.programAdd .sub_ctn_list .sub_cnt .in_n_cnt .ipt_in_n{display: block;width: 200px;}
.programAdd .sub_ctn_list .sub_cnt .in_n_cnt .ipt_in_n:not(:last-child){margin-bottom: 4px;}
.programAdd .sub_ctn_list .sub_cnt .in_n_btn{top: 3px;}
.programAdd .sub_ctn_list .sub_cnt .in_n_minus_btn{top: 3px;}

.programAdd .sub_ctn_list .sub_cnt .meet_time{width: 200px;}

.programAdd .sub_ctn_list .sub_cnt .add_t_cnt{margin-bottom: 4px;}
.programAdd .sub_ctn_list .sub_cnt .ipt_add_1{float: left;width: 146px;}
.programAdd .sub_ctn_list .sub_cnt .ipt_add_2{float: left;margin-left: 4px;width: 424px;}
.programAdd .sub_ctn_list .sub_cnt .ipt_add_3{float: left;width: 442px;}
.programAdd .sub_ctn_list .sub_cnt .add_srch_wrap.btn_wrap{float: left;margin-left: 4px;padding-top: 0; width: 140px;}
.programAdd .sub_ctn_list .sub_cnt .add_srch_wrap .add_srch_btn{padding: 0;width: 100%;line-height: 42px;text-align: center;}
.programAdd .sub_ctn_list .notice_wrap .ipt_txt_notice{width: 98%;}
.programAdd .sub_ctn_list .price_wrap{position: relative;}
.programAdd .sub_ctn_list .price_wrap .price_list{padding-bottom: 4px;}
.programAdd .sub_ctn_list .price_wrap .price_list .ipt_price_tit{width: 140px;}
.programAdd .sub_ctn_list .price_wrap .price_list .ipt_price_num{width: 200px;}
.programAdd .sub_ctn_list .price_wrap input[type="number"]::-webkit-outer-spin-button,
.programAdd .sub_ctn_list .price_wrap input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.programAdd .sub_ctn_list .sub_cnt .price_btn{left: 538px;}
.programAdd .sub_ctn_list .sub_cnt .add_btn.price_minus_btn{left: 580px;}
.programAdd .sub_ctn_list .total_price_wrap{padding: 10px 0;width: 365px;border-top: 1px solid #ddd;}
.programAdd .sub_ctn_list .price_ctn_wrap{padding-bottom: 10px;}
.programAdd .sub_ctn_list .total_price_cnt{font-size: 16px;font-weight: bold;}
.programAdd .sub_ctn_list .total_price_cnt:nth-child(1){float: left;}
.programAdd .sub_ctn_list .total_price_cnt:nth-child(2){float: right;}
.programAdd .day_cnt_list .day_cnt_wrap .sub_cnt{margin-top: 10px;padding: 10px 20px;box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.2);}
.programAdd .day_cnt_list .day_cnt_wrap .day_cnt_desc:not(:nth-last-child(1)){border-bottom: 1px solid #ddd;}
.programAdd .day_cnt_list .day_cnt_wrap .day_cnt_tit{padding: 20px 0 50px;font-size: 20px;font-weight: bold;text-align: center;}
.programAdd .day_cnt_list .day_cnt_wrap .file_btn{margin-left: 0;}
.programAdd .day_cnt_list .day_cnt_wrap .ipt_file{display: none;}
.programAdd .sub_ctn_list .sub_cnt .btn_wrap{padding: 20px 0 10px;text-align: left;}
.programAdd .sub_ctn_list .sub_cnt .day_add_btn{display: inline-block;width: 37px;height: 37px;text-align: center;line-height: 37px;font-weight: bold;font-size: 18px;color: #fff;background-color: #171f57;border-radius: 50%;}
.programAdd .sub_ctn_list .sub_cnt .btn_wrap span{margin-top: -2px;padding-left: 6px;font-weight: bold;}
.programAdd .sub_ctn_list .empty_day{padding: 20px 0;text-align: center;font-weight: bold;}
.programAdd .day_cnt_desc .timeDay{width: 110px;text-align: right;}
.programAdd .day_cnt_desc .timeDayWrap:after{content: "시간";padding-left: 10px;color: #000;}

/* 검색결과 페이지 - search.jsp */
.search .search_tit{padding-bottom: 10px;}
.search .empty_search{padding: 80px 0 30px;text-align: center;font-size: 18px;font-weight: bold;}
.search .layout_1_wrap:not(:last-child){padding-bottom: 78px;border-bottom: 1px solid #ddd;}
.search .layout_1_wrap:last-child{padding-bottom: 80px;}