@charset "UTF-8";
.regCheckEmail{
	color : red;
	font-size : 14px;
}
.regCheckName{
	color : red;
	font-size : 14px;
}
.regCheckpassword{
	color : red; 
	font-size : 14px;
}
.regCheckpasswordCheck{
	color : red;
	font-size : 14px;
}
.regChecktermsCheck{
	color : red;
	font-size : 14px;
}

.userAgeInput{
	width : 100px;
}
.userName{
	margin-right : auto;
	margin-left : auto;
}

.inputBox_name{
	width : 550px;
	height : 25px;
}
.inputBox_email{
	width : 550px;
	height : 25px;
}
.checkBtn_sh{
	height : 30px;
}
.joinBtn{
	width: 460px;
	line-height: 50px;
	border: 0;
	transition: 0.25s;
	color: #f7f7f7;
	background-color: #171f57;
}
.termText:hover{
	color : black;
	font-style : italic;
	font-weight	: bold;
}
.container .layout_2_wrap .login_cnt{
	margin: auto;
	padding: 40px;
	width: 360px;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.1);
}
.idInputBox{
	width : 320px;
	height : 30px;
	margin-right: auto;
	margin-left: auto;
}
.PasswordBox{
	width : 320px;
	height : 30px;
	margin-right: auto;
	margin-left: auto;
}
.loginBtn{
	width : 320px;
	line-height: 50px;
	border: 0;
	transition: 0.25s;
	color: #f7f7f7;
	background-color: #171f57;
}
.movepasswordFind{
	float : left;
	cursor: pointer;
}
.movesignup{
	float : right;
	cursor: pointer;
}
.movepasswordFind:hover{
	font-style: italic;text-decoration: underline;
}
.movesignup:hover{
	font-style: italic;text-decoration: underline;
}
.container .layout_2_wrap .main_cnt .left{
	width: 49%;
	float: left;
}
.container .layout_2_wrap .main_cnt .right{
	width: 49%;
	float: right
}
.scheduleDetail{
	padding : 5px;
	margin-left : auto;
	margin-right : auto;
	width : 90%;
	border : 1px solid lightgray;
	text-align: center;
}
/* .orderBox{
	text-align: center;
} */
.orderName{
	width : 90%;
	height : 30px;
}
.order{
	height : 30px;
}
.telList{
	width : 60px;
	height : 35px;
}
.orderPhone{
	width : 228px;
	height : 30px;
}
.orderEmail{
	height : 30px;
	width : 90%;
}
.receiverEmail{
	height : 30px;
	width : 90%;
}
.orderCheckArea{
	float: right;
}
.receiverName{
	width : 90%;
	height : 30px;
}
.receiverAge{
	width : 180px;
	height : 45px;
}
.receiverTelList{
	width : 60px;
	height : 35px;
}
.receiverPhone{
	width : 228px;
	height : 30px;
}
.receiverSubTelList{
	width : 60px;
	height : 35px;
}
.receiverSubPhone{
	width : 228px;
	height : 30px;
}
.customTitle{
	margin-top:10px;
}
.customDetailArea{
	width:100%;
	background:#fff;
	box-shadow: 2px 2px 3px 3px rgba(100, 100, 100, 0.1);
}
.customDetailArea{
	margin-left:10px;	
}
.customDetailArea td{
	padding-left:30px;
}
.customDetailArea tr{
	height:50px;
}
.customTd{
	font-weight: bold;
}
.sub_ctn_wrap .tableArea{
	width:100%;
	background:#fff;
	box-shadow: 2px 2px 3px 3px rgba(100, 100, 100, 0.1);
}
.customCompleteTitle{
	padding-top:30px;
}
.tableArea table{
	margin-left:20px;
}
.tableArea tr{
	height:50px;
}
.tableArea td{
	padding:30px;
}
